@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@100&family=Noto+Sans+Display:wght@500;900&family=Open+Sans:wght@500&display=swap');

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-primary: #1a3065;
	--color-secondary: #ffffff;
	--color-accent: #ffea80;
	--color-background: #f4fdff;
	--color-extra: rgb(0, 0, 0, 0.4);

	--font-weight_text: 500;
	--font-weight_header: 900;
	
	--font-line_height: 1.25em;

	/* misschien hierbij ook margins toevoegen */
}


/*********************/
/* 	   keyframes     */
/*********************/
@keyframes wijs_naar_beneden {
	0% {
		transform: translateY(0);
	}
	45% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(0.5em);
	}
	55% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}



/****************/
/* JOUW STYLING */
/****************/

/* algemeen */
html * {
	font-family: 'Noto Sans Display', sans-serif;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}


/* nav */
header > nav:first-of-type {
	display: flex;
	justify-content: space-around;
	gap: 5em;
	align-items: center;
	height: 3.5em;
	background: transparent;
	transition: 0.1s;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 10;
}

header > nav:first-of-type.nav_fill {
	background: var(--color-secondary);
	transition: 0.1s;
}

header > nav:first-of-type a:first-of-type svg {
	width: 10em;
	max-height: 1.5em;
	color: var(--color-secondary);
}

header > nav:first-of-type a:nth-of-type(2) {
	position: absolute;
	transform: translateY(-300%);
	background: var(--color-secondary);
	padding: 1em 0.5em;
	border-radius: 2em;
}

header > nav:first-of-type a:nth-of-type(2):focus {
	transform: translateY(120%);
}

header.missie > nav:first-of-type a:first-of-type svg {
	color: var(--color-primary);
}

header > nav:first-of-type a svg.nav_fill {
	color: var(--color-primary);
}

header > nav:first-of-type button {
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: var(--color-secondary);
	width: 32px;
	height: 32px;
	border: none;
}

header.missie > nav:first-of-type button {
	background-color: var(--color-primary);
}

header > nav:first-of-type button.nav_fill {
	background-color: var(--color-primary);
}

header > nav:first-of-type button span {
	width: 1.1em;
	height: 0.15em;
	background-color: var(--color-primary);
	border-radius: 0.1em;
}

header.missie > nav:first-of-type button span {
	background-color: var(--color-secondary);
}

header > nav:first-of-type button.nav_fill span {
	background-color: var(--color-secondary)
}

header > nav:first-of-type button span:nth-of-type(1) {
	transform: translateY(0.4em);
}

header > nav:first-of-type button span:nth-of-type(2) {
	transform: translateY(-0.4em);
}


/* nav uitgeklapt */
header > nav:nth-of-type(2) > nav {
	display: flex;
	justify-content: space-around;
	gap: 10em;
	align-items: center;
	height: 3.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header > nav:nth-of-type(2) {
	position: fixed;
	background-color: var(--color-secondary);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transform: translateX(100%);
	transition: 0.35s;
	z-index: 15;
}

header > nav:nth-of-type(2) button:first-of-type {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-weight: var(--font-weight_text);
	font-size: 0.8em;
	color: var(--color-primary);
	position: absolute;
	left: 5%;
}

header > nav:nth-of-type(2) button:first-of-type img {
	height: 1.4em; 
}

header > nav:nth-of-type(2) button:last-of-type {
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: var(--color-secondary);
	width: 32px;
	height: 32px;
	border: none;
	position: absolute;
	right: 5%;
}

header > nav:nth-of-type(2) button:last-of-type span {
	width: 1.4em;
	height: 0.2em;
	background-color: var(--color-primary);
	border-radius: 0.1em;
}

header > nav:nth-of-type(2) button:last-of-type span:nth-of-type(1) {
	transform: translate(0em, 0.55em) rotate(45deg);
}

header > nav:nth-of-type(2) button:last-of-type span:nth-of-type(2) {
	transform: translate(0em, -0.55em) rotate(-45deg);
}

header> nav:nth-of-type(2).nav_expended {
	transform: translateX(0%);
}

header > nav:nth-of-type(2) ul {
	display: flex;
	margin: 2em 10%; 
	flex-direction: column;
}

header > nav:nth-of-type(2) ul li:first-of-type {
	padding: 0.8em 0;
}

header > nav:nth-of-type(2) ul li:first-of-type a {
	font-size: 1.75em;
	font-weight: var(--font-weight_header);
}

header > nav:nth-of-type(2) ul li details {
	display: flex;
	flex-direction: column;
}

header > nav:nth-of-type(2) ul li details summary {
	color: var(--color-primary);
	user-select: none;
	list-style: none;
	font-size: 1.75em;
	font-weight: var(--font-weight_header);
	padding: 0.5em 0;
	width: min-content;
	white-space: nowrap;	
}

header > nav:nth-of-type(2) ul li details summary:hover {
	border-bottom: 0.2em solid var(--color-accent);
}

header > nav:nth-of-type(2) ul li details a {
	padding: 1em 0;
}

header > nav:nth-of-type(2) ul hr {
	margin: 2em 0;
	color: #a1d9dd;
	height: 1px;
	max-width: 65%;
	opacity: 0.7;
}

header > nav:nth-of-type(2) ul > a {
	display: grid;
	grid-template: 6em auto auto / auto; 
}

header > nav:nth-of-type(2) ul > a img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

header > nav:nth-of-type(2) ul > a h2 {
	font-size: 1.75em;
	font-weight: var(--font-weight_header); 
	margin-top: 0.5em;
}

header > nav:nth-of-type(2) ul > a p {
	margin-top: 1em;
}


/****************/
/* 	   home 	*/
/****************/

/* 1ste sectie 1 */
#home > section:first-of-type {
	position: relative;
	z-index: 5;
	overflow-x: hidden;
}

#home > section:first-of-type img {
	object-fit: cover;
	object-position: -3em 0;
	width: 130%;
}

#home > section:first-of-type h1 {
	position: absolute;
	font-size: 1.8em;       /* size nog aanpassen */
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	text-align: center;
	left: 50%;
	transform: translate(-50%, -7.5em);  /* 7.5 / hoogte nog aanpassen */ 
}

#home > section:first-of-type a {
	position: absolute;
	padding: 1em;
	background: var(--color-accent);
	border-radius: 2em;
	left: 50%;
}

#home > section:first-of-type a:first-of-type {
	transform: translate(-50%, -8.5em);
}

#home > section:first-of-type a:nth-of-type(2) {
	transform: translate(-50%, -5em);
}


/* 3 delig sectie - 2 */
#home > section:nth-of-type(2) {
	display: grid;		/* kan ook (makkelijker) met flex basis */
	grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
	background-color: var(--color-background);
	padding: 5em 0;
	gap: 3em;
}

#home > section:nth-of-type(2) section {
	display: grid;
	grid-template: 4em max-content / auto 1fr;
	gap: 1.2em;
	padding: 0 5%;
}

#home > section:nth-of-type(2) section h2 {
	grid-column: 1/2;
	grid-row: 1/2;
	font-weight: var(--font-weight_header);
	color: var(--color-primary);
	font-size: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#home > section:nth-of-type(2) span {
	font-size: 3em;
}

#home > section:nth-of-type(2) section h3 {
	grid-column: 1/2;
	grid-row: 1/2;
	font-weight: var(--font-weight_header);
	color: var(--color-primary);
}

#home > section:nth-of-type(2) section img {
	grid-column: 2/3;
	grid-row: 1/2;
	height: 100%;
}

#home > section:nth-of-type(2) section p {
	grid-column: 1/4;
	grid-row: 2/3;
}


/* sectie tap water - 3 */
#home > section:nth-of-type(3) {
	background-color: var(--color-primary); 
	display: grid;
	grid-template: 2em min-content min-content min-content min-content min-content 2em / 1fr 18fr 1fr;  /* tijdelijk */
	gap: 1em;
}

#home > section:nth-of-type(3) img {
	width: 100%;
	height: auto;
	grid-area: 2/2/3/3;
}

#home > section:nth-of-type(3) h2 {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 2em;
	grid-area: 3/2/4/3;
}

#home > section:nth-child(3) p {
	color: var(--color-secondary);
	font-weight: var(--font-weight_text);
	font-size: 1em;
	grid-area: 4/2/5/3;
}

#home > section:nth-of-type(3) button {
	color: var(--color-primary);
	background: var(--color-secondary);
	font-size: 1em;
	padding: 0.6em 0.8em;
	border-radius: 2em;
	border: none;
	grid-area: 5/2/6/3;
	width: min-content;
	white-space: nowrap;
}

#home > section:nth-of-type(3) a {
	color: var(--color-primary);
	background: var(--color-secondary);
	font-size: 1em;
	padding: 0.8em;
	border-radius: 2em;
	grid-area: 6/2/7/3;
	width: min-content;
	white-space: nowrap;
}


/* sectie create - 4 */
#home > section:nth-of-type(4) {
	background-color: var(--color-background);
}

#home > section:nth-of-type(4) section:first-of-type {
	margin: 2em 5%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#home > section:nth-of-type(4) section:first-of-type img {
	width: 100%;
	clip-path: circle(40%);  /* kan betr */
}

#home > section:nth-of-type(4) section:first-of-type p:first-of-type {
	font-weight: var(--font-weight_text);
	color: var(--color-primary);
	font-size: 0.8em;
	text-transform: uppercase;
}

#home > section:nth-of-type(4) section:first-of-type h2 {
	font-weight: var(--font-weight_header);
	color: var(--color-primary);
	font-size: 1.7em;
}

#home > section:nth-of-type(4) section:first-of-type p:nth-of-type(2) {
	font-weight: var(--font-weight_header);
	color: var(--color-primary);
	font-size: 1.05em;
}

#home > section:nth-of-type(4) section:first-of-type p a:first-of-type {
	text-decoration: underline;
}

#home > section:nth-of-type(4) section:first-of-type > a {
	padding: 1em;
	background: var(--color-accent);
	border-radius: 2em;
	width: min-content;
	white-space: nowrap;
}

#home > section:nth-of-type(4) section:nth-of-type(2), #home > section:nth-of-type(4) section:nth-of-type(3) {
	display: grid;
	grid-template: 10em min-content min-content / 1fr 18fr 1fr;  /* tijdelijk */
	gap: 1em;
	margin-bottom: 2em;
}

#home > section:nth-of-type(4) section:nth-of-type(2) img, #home > section:nth-of-type(4) section:nth-of-type(3) img {
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: 0 5%;
}

#home > section:nth-of-type(4) section:nth-of-type(2) img {
	grid-area: 1/1/2/3;
}

#home > section:nth-of-type(4) section:nth-of-type(3) img {
	grid-area: 1/2/2/4;
}

#home > section:nth-of-type(4) section:nth-of-type(2) h2, #home > section:nth-of-type(4) section:nth-of-type(3) h2 {
	grid-area: 2/2/3/3;
	font-weight: var(--font-weight_header);
	line-height: 1.3em;
	font-size: 1.05em;
	color: var(--color-primary);
}

#home > section:nth-of-type(4) section:nth-of-type(2) a, #home > section:nth-of-type(4) section:nth-of-type(3) a {
	grid-area: 3/2/4/3;
	background: var(--color-accent);
	padding: 1em;
	border-radius: 3em;
	width: fit-content;
}

/* video - 5 */
#home > section:nth-of-type(5) section:first-of-type {
	width: 100vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

#home > section:nth-of-type(5) section:first-of-type img {
	width: auto;
	height: 36em;
}

#home > section:nth-of-type(5) section:first-of-type button {
	position: absolute;
	border: none;
	background: var(--color-secondary);
	padding: 4em;
	border-radius: 50%;
}

#home > section:nth-of-type(5) section:first-of-type h2 {
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
	font-weight: var(--font-weight_header);
	color: var(--color-secondary);
	font-size: 1.6em;
}

#home > section:nth-of-type(5) section:last-of-type {
	background-color: var(--color-primary);
	padding-bottom: 8em;
	position: relative;
}

#home > section:nth-of-type(5) section:last-of-type h2{
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 2.7em;
	text-align: center;
	padding: 1em 5%;
}

#home > section:nth-of-type(5) section:last-of-type span {
	color: var(--color-accent);
}

#home > section:nth-of-type(5) section:last-of-type h3 {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 4.8em;
	text-align: center;
}

#home > section:nth-of-type(5) section:last-of-type p {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	padding: 0 5%;
	font-size: 1.1em;
	text-align: center;
	line-height: var(--font-line_height);
}

#home > section:nth-of-type(5) section:last-of-type a {
	padding: 1em; 
	background: var(--color-secondary);
	border-radius: 2em;
	margin: 1em 0;
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translateX(-50%);
}

/* dopper news splash - 6 */
#home > section:nth-of-type(6) {
	padding: 2em 5%;
	background-color: var(--color-background);
}

#home > section:nth-of-type(6) > h2 {
	font-weight: var(--font-weight_header);
	font-size: 2.5em;
	color: var(--color-primary);
	text-align: center;
	margin-bottom: 0.4em;
}

#home > section:nth-of-type(6) > p {
	font-weight: var(--font-weight_text);
	font-size: 1em;
	color: var(--color-primary);
	text-align: center;
	margin-bottom: 4em;
}

#home > section:nth-of-type(6) section {
	display: grid;
	grid-template: min-content min-content min-content min-content / auto;
	gap: 1em;
	margin: 0 0 4em 0;
}

#home > section:nth-of-type(6) section img {
	grid-area: 1/1/2/2;
	width: 100%;
	height: 11em;
	object-fit: cover;
	object-position: center center;
}

#home > section:nth-of-type(6) section h2 {
	grid-area: 2/1/3/2;
	font-weight: var(--font-weight_header);
	color: var(--color-primary);
	font-size: 1.1em;
}

#home > section:nth-of-type(6) section p {
	grid-area: 3/1/4/2;
	font-weight: var(--font-weight_text);
	color: var(--color-primary);
	font-size: 1.05em;
}

#home > section:nth-of-type(6) section a {
	grid-area: 4/1/5/2;
}

#home > section:nth-of-type(6) section a span {
	background: var(--color-accent);
	display: inline-block;
	aspect-ratio: 1/1;
	padding: 0.5em;
	border-radius: 50%;
	margin-left: 1em;
}


/* inschrijving nieuws - 7 */
#home > section:nth-of-type(7) {
	display: flex;
	flex-direction: column;
	padding: 2em 5%;
	background-color: var(--color-background);
}

#home > section:nth-of-type(7) h2 {
	font-size: 2.8em;
	color: var(--color-primary);
	font-weight: var(--font-weight_header);
	text-align: center;
}

#home > section:nth-of-type(7) input {
	border: none;
	padding: 1em 0;
	font-size: 1.1em;
	font-weight: var(--font-weight_header);
	border-bottom: 1px solid var(--color-extra);
	color: black;
	opacity: 0.4;
}

#home > section:nth-of-type(7) button {
	margin: 1em 0;
	border: none;
	padding: 1em;
	background: var(--color-accent);	
	border-radius: 2em;
}

/****************/
/* 	   missie 	*/
/****************/

/* main - 0 */
main.missie {
	background-image: linear-gradient(#9CC5DB, #1A3065, 1600px);
	overflow-x: hidden;
}

/* let do out parts - 1 */
main.missie > section:first-of-type {
	height: 100vh;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(rgb(205, 249, 255), rgb(140, 209, 218));  /* tijdelijk */
}

main.missie > section:first-of-type h1 {
	color: var(--color-accent);
	font-size: 2.3em;
	text-align: center;
	font-weight: var(--font-weight_header); 
}

main.missie > section:first-of-type a {
	position: absolute;
	bottom: 2em;
	padding: 1.3em; 
	border-radius: 50%;
	border: none;
	background: var(--color-accent);

	animation-name: wijs_naar_beneden;
	animation-duration: 5s;
	animation-iteration-count: infinite;
} 

/* single use plastic - 2 */
main.missie > section:nth-of-type(2) {
	padding: 2em 10%;		/* tijdelijk */
	background-image: linear-gradient(#9CC5DB,#1A3065);
}

main.missie > section:nth-of-type(2) h2 {
	font-weight: var(--font-weight_header);
	font-size: 1.7em;
	margin: 5em 0;
	color: #DFFBFF;
}

main.missie > section:nth-of-type(2) h2 span {
	color: var(--color-secondary);
}

main.missie > section:nth-of-type(2) h2:last-child {
	color: var(--color-secondary);
	text-align: center;
}

main.missie > section:nth-of-type(2) h2:last-child span {
	color: var(--color-accent);
}

/* 3 kopjes - 3 */
main.missie > section:nth-of-type(3) {
	padding: 2em 10%; 	/* tijdelijk */
	background-color: #1A3065;
}

main.missie > section:nth-of-type(3) article {
	margin: 5em 0;
}

main.missie > section:nth-of-type(3) article h2 {
	font-weight: var(--font-weight_header);
	font-size: 3.5em;
	color: var(--color-accent);
}

main.missie > section:nth-of-type(3) article p {
	font-weight: var(--font-weight_header);
	font-size: 1.1em;
	color: var(--color-secondary);
	line-height: var(--font-line_height);
}

/* toeval - 4 */
main.missie > section:nth-of-type(4) {
	background-color: #1A3065;
	padding: 5em 0;
	display: grid;
	grid-template: 4fr 3fr 4fr / 1fr 16fr 1fr; 
}

main.missie > section:nth-of-type(4) img {
	width: 100%;
	grid-area: 1/1/3/4;
	aspect-ratio: 1/1;
}

main.missie > section:nth-of-type(4) div {
	background: var(--color-accent);
	grid-area: 2/2/4/4;
	padding: 1.5em;
	aspect-ratio: 1/1;
	display: grid;
	grid-template: 9fr 1fr / 1fr;
}

main.missie > section:nth-of-type(4) div h2 {
	font-weight: var(--font-weight_header);
	font-size: 1.6em;
	color: var(--color-primary);
	grid-area: 1/1/2/2;
}

main.missie > section:nth-of-type(4) div a {
	font-weight: var(--font-weight_text);
	font-size: 1em;
	grid-area: 2/1/3/2;
}

/* de dopper fles - 5 */
main.missie > section:nth-of-type(5) {
	background-image: linear-gradient(#ffffff, #80d9ff);
	padding: 2em 5%;
	display: grid;
	grid-template: auto max-content max-content max-content / auto;
	gap: 70vh;
}

main.missie > section:nth-of-type(5) > h2 {
	font-weight: var(--font-weight_header);
	font-size: 2.8em;
	text-align: center;
	color: #97d7db;
	grid-area: 1/1/2/2;
	padding: 5em 0 11em 0;
}

main.missie > section:nth-of-type(5) > div {
	position: relative;
	grid-area: 1/1/2/2;
	perspective-origin: top;
	perspective: 5em;
}

main.missie > section:nth-of-type(5) > div img {
	position: fixed;
	transform-style: preserve-3d;
	width: 100%;
	top: 73em;
}

main.missie > section:nth-of-type(5) section:nth-child(1) {
	grid-area: 2/1/3/2;
}

main.missie > section:nth-of-type(5) section:nth-child(2) {
	grid-area: 3/1/4/2;
}

main.missie > section:nth-of-type(5) section:nth-child(3) {
	grid-area: 4/1/5/2;
}

main.missie > section:nth-of-type(5) section h2 {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 1.5em;
}

main.missie > section:nth-of-type(5) section p {
	color: var(--color-secondary);
	font-weight: var(--font-weight_text);
	font-size: 1em;
}

/* - 6 */
main.missie > section:nth-of-type(6) {
	position: relative;
}

main.missie > section:nth-of-type(6) > img {
	height: 100%;
	object-fit: cover;
	object-position: -25em center;
}

main.missie > section:nth-of-type(6) div {
	background-color: #DFFBFF; /* tijdelijk */
	position: absolute;
	left: 0;
	bottom: 5em;
	right: 1em;
	padding: 5%;
	display: grid;
	grid-template: 9fr 1fr / auto;
	aspect-ratio: 1/1;
}

main.missie > section:nth-of-type(6) div h2 {
	color: #004c43;
	font-weight: var(--font-weight_header);
	line-height: var(--font-line_height);
	font-size: 1.1em;
	grid-area: 1/1/2/2;
}

main.missie > section:nth-of-type(6) div h2 svg {
	position: absolute;
	fill: #004c43;
	transform: rotate(-20deg);
}

main.missie > section:nth-of-type(6) div a {
	color: #004c43;
	font-weight: var(--font-weight_text);
	font-size: 1em;
	grid-area: 2/1/3/2;
}

/* onze flessen maken het verschil - 7 */
main.missie > section:nth-of-type(7) {
	margin: 15% 5%;
}
main.missie > section:nth-of-type(7) > h2 {
	color: var(--color-primary);
	font-weight: var(--font-weight_header);
	font-size: 2.5em;
	text-align: center;
}

main.missie > section:nth-of-type(7) > p {
	color: var(--color-primary);
	font-weight: var(--font-weight_header);
	font-size: 1.15em;
	text-align: center;
}

main.missie > section:nth-of-type(7) section {
	height: 100vh;
}

main.missie > section:nth-of-type(7) section h3 {
	color: var(--color-primary);
	font-weight: var(--font-weight_header);
	font-size: 1.6em;
}

main.missie > section:nth-of-type(7) section p {
	color: var(--color-primary);
	font-weight: var(--font-weight_text);
	line-height: var(--font-line-height);
	font-size: 1em;
}

main.missie > section:nth-of-type(7) section img {
	position: absolute;
	object-fit: cover;
	height: 60%;
	width: 100%;
	left: 0;
}

main.missie > section:nth-of-type(7) section:first-of-type img {
	clip-path: circle(50%);
}

main.missie > section:nth-of-type(7) section:nth-of-type(2) img {
	clip-path: ellipse(60% 40%);
}

main.missie > section:nth-of-type(7) section:nth-of-type(3) img {
	clip-path: circle(50%);
}

/* resultaten - 8 */
main.missie > section:nth-of-type(8) {
	height: 100vh;
	padding: 2em 5%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
main.missie > section:nth-of-type(8) h2 {
	color: #ee9df5;
	font-weight: var(--font-weight_header);
	font-size: 3.3em;
	text-align: center;
}

main.missie > section:nth-of-type(8) p {
	color: #ee9df5;
	font-weight: var(--font-weight_text);
	font-size: 1.2em;
	text-align: center;
	line-height: var(--font-line_height);
}

main.missie > section:nth-of-type(8) a {
	padding: 1em;
	background-color: var(--color-accent);
	border-radius: 2em;
}

/* het verschil maken - 9 */
main.missie > section:nth-of-type(9) {
	background-color: #CE9BBA;  /* tijdelijk */
	padding: 2em 5%;
}

main.missie > section:nth-of-type(9) > h2 {
	color: #3e0f49;
	font-weight: var(--font-weight_header);
	font-size: 2.8em;
	text-align: center;
}

main.missie > section:nth-of-type(9) > p {
	color: #3e0f49;
	font-weight: var(--font-weight_header);
	font-size: 1.1em;
	text-align: center;
	opacity: 0.6;
}

main.missie > section:nth-of-type(9) section {
	display: grid;
	grid-template: 4em max-content / auto 1fr;
	gap: 1em;
	margin: 2em 0;
}

main.missie > section:nth-of-type(9) section h2 {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 3em;
	grid-area: 1/1/2/2;

	display: flex;
	flex-direction: column;
}

main.missie > section:nth-of-type(9) section h2 span {
	font-size: 0.3em;
}

main.missie > section:nth-of-type(9) section img {
	height: 100%;
	grid-area: 1/2/2/3;
}

main.missie > section:nth-of-type(9) section p {
	color: #3e0f49;
	font-weight: var(--font-weight_text);
	font-size: 1em;
	opacity: 0.6;
	grid-area: 2/1/3/3;
}

main.missie > section:nth-of-type(9) div {
	margin: 2em auto;
	display: flex;
	justify-content: center; 
	flex-direction: column;
	align-items: center;
}

main.missie > section:nth-of-type(9) div input {
	appearance: none;
	width: 80%;
	height: 1.5em;
	background: rgba(62,15,73,.1);
	border-radius: 2em;
	margin: 3em 0;
}

main.missie > section:nth-of-type(9) div input::-moz-range-thumb, main.missie > section:nth-of-type(9) div input::-webkit-slider-thumb {
	appearance: none;
	background: white;
	border: none;
	width: 6em;
	height: 6em;
	border-radius: 50%;
}

main.missie > section:nth-of-type(9) div p {
	color: var(--color-secondary);
	opacity: 0.6;
	font-weight: var(--font-weight_text);
	line-height: var(--font-line_height);
	width: 65%;
	text-align: center;
	font-size: 1.05em;
}

main.missie > section:nth-of-type(9) article p {
	color: var(--color-secondary);
	font-weight: var(--font-weight_header);
	font-size: 1.7em;
	text-align: center;
	padding: 2em 5%;
}

/* afronding - 10 */
main.missie > section:nth-of-type(10) {
	background-image: linear-gradient(#9CC5DB, var(--color-background));
	padding: 2em 5%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
}

main.missie > section:nth-of-type(10) h2 {
	color: var(--color-primary);
	font-weight: var(--font-weight_header);
	font-size: 2.6em;
	text-align: center;
}

main.missie > section:nth-of-type(10) a {
	padding: 1em;
	background-color: var(--color-accent);
	border-radius: 2em;
}

main.missie > section:nth-of-type(10) p {
	color: var(--color-primary);
	font-weight: var(--font-weight_text);
	font-size: 1em;
	text-align: center;
}


/* footer */
footer {
	margin: 2em 5%;
}

footer > nav li {
	display: flex;
	flex-direction: row;
	position: relative;
	border-bottom: 1px solid var(--color-extra);
}

footer > nav li details {
	display: flex;
	flex-direction: column;	
}

footer > nav li details summary {
	user-select: none;
	list-style: none;
	font-weight: var(--font-weight_text);
	font-size: 1em;
	padding: 1em 0;
	color: var(--color-extra);
}

footer > nav li details a {
	margin: 0 5%;
	padding: 0.2em
}

footer > nav ul li span {
	width: 0.7em;
	height: 0.15em;
	background: var(--color-extra);
	border-radius: 2em;
	position: absolute;
	right: 0;
	top: 1.65em;
}

footer > nav ul li span:first-of-type {
	transform: rotate(90deg);
}

footer > nav ul li span:first-of-type.plus_min {
	transform: rotate(0deg);
}

footer > section:nth-of-type(1) {
	display: grid;
	grid-template: auto auto / min-content 1.8fr 0.5fr 0.5fr;
	gap: 1em;
	margin: 4em 0 2em 0;
	padding-bottom: 2em;
	border-bottom: 1px solid var(--color-extra);
}

footer > section:nth-of-type(1) img {
	grid-area: 1/1/2/2;
	height: 5em;
}

footer > section:nth-of-type(1) p {
	grid-area: 1/2/2/3;
	font-weight: var(--font-weight_text);
	font-size: 0.9em;
	color: var(--color-primary);
	line-height: 1.4em;
}

footer > section:nth-of-type(1) input {
	grid-area: 2/1/3/4;
	border: none;
	font-size: 1em;
	font-weight: var(--font-weight_header);
	color: var(--color-extra);
}

footer > section:nth-of-type(1) button {
	grid-area: 2/4/3/5;
	aspect-ratio: 1/1;
	height: 3em;
	border-radius: 50%;
	border: none;
	background: var(--color-accent); 
}

footer > section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

footer > section:nth-of-type(2) > div:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	gap: 2.7em;
}

footer > section:nth-of-type(2) > div:nth-of-type(1) img {
	height: 5em;
}

footer > section:nth-of-type(2) div:nth-of-type(2) {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

footer > section:nth-of-type(2) div:nth-of-type(2) a img {
	background-color: var(--color-accent);
	padding: 0.2em;
	border-radius: 50%;
}

footer > section:nth-of-type(2) > a {
	color: var(--color-extra);
	font-weight: var(--font-weight_text);
}

footer > section:last-of-type {
	padding: 3em 5%;
	margin-top: 3em;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
}

footer > section:last-of-type p {
	color: var(--color-primary);
	font-weight: var(--font-weight_text);
	font-size: 0.9em;
	position: absolute;
	top: 0em;
	left: 0;
}

